User Stories
------------
As a user, I would like to press a button, and have a list of songs related to the days news appear
As a user, I would like to be able to filter the songs based on the news they are related do (e.g politics, music, technology)


As a user, I would like to be able to login and have an account
As a user, I would like to edit my account/customise
As a user, I would like the app to remember my details so I dont have to type them in everytime I load the app
As a user, I would link to my account to spotify
As a user, I would like to be able to access the application through the internet.
As a mobile user, I would like to be able to access a mobile version of the app
As a user, I would like to create a playlist of songs that I've recieved from the app


As a admin, I want to be able to query user searches
As a admin, I want to be able to manage accounts